<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swaliya.hellowcashback">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logooo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logooo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.FlightActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.BusActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.HotelActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.MobileRechargeActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.DthRechargeActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.ElectricityActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.AddMoneyActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.AcceptPaymentActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.PayActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.WaterActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.GasActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.LandLineActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.InsuranceActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.SpaActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.DataCardActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.PassbokActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.CabActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.CashbackActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.LatestOfferActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.BuyActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.AllItemActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.FlightListActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.HotelListActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.BuslListActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.CarListActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".activity.DthPlanListActivity"
            android:theme="@style/MyMaterialTheme.Base" />
    </application>

</manifest>